In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [ ]:
df = pd.read_excel("/content/dataset.xlsx")
x = df["text"]
y = df["class"]

In [ ]:
df.shape

(1198, 6)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1198 entries, 0 to 1197
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   title       1198 non-null   object
 1   text        1198 non-null   object
 2   subject     1198 non-null   object
 3   date        1198 non-null   object
 4   Unnamed: 4  0 non-null      float64
 5   class       1198 non-null   int64
dtypes: float64(1), int64(1), object(4)
memory usage: 56.3+ KB

In [ ]:
df.isnull().sum()

title            0
text             0
subject          0
date             0
Unnamed: 4    1198
class            0
dtype: int64

In [ ]:
df['class'].value_counts()

1    599
0    599
Name: class, dtype: int64

In [ ]:
df.describe()

       Unnamed: 4        class
count         0.0  1198.000000
mean          NaN     0.500000
std           NaN     0.500209
min           NaN     0.000000
25%           NaN     0.000000
50%           NaN     0.500000
75%           NaN     1.000000
max           NaN     1.000000

In [ ]:
x = df["text"]
y = df["class"]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.7)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [ ]:
# print(type(xv_test))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
LR = LogisticRegression()
LR.fit(xv_train,y_train)

LogisticRegression()

In [ ]:
def wordopt(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub("\\W"," ",text) 
    text = re.sub('https?://\S+|www\.\S+', '', text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)    
    return text

In [ ]:
pred_lr=LR.predict(xv_test)

In [ ]:
LR.score(xv_test, y_test)

0.9845053635280095

In [ ]:
LR.score(xv_train, y_train)

0.9972144846796658

In [ ]:
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    # pred_DT = DT.predict(new_xv_test)
    # pred_GBC = GBC.predict(new_xv_test)
    # # pred_RFC = RFC.predict(new_xv_test)
    n=pred_LR[0]
    if n == 0:
        print("Fake News")
    elif n == 1:
        print("Not A Fake News")

In [ ]:
news = str(input())
manual_testing(news)

NEW YORK (Reuters) - After deep cuts in spending for Florida schools and other public programs following the Great Recession, outgoing Republican Governor Rick Scott this month proposed an $87.4 billion budget he says boosts spending on some depleted services to record levels.  Despite Scottâ€™s meaty 2018-2019 budget recommendation, which is about $2.4 billion above current spending, advocates for Florida public education, environment and affordable housing remained skeptical the new plan would go far enough. â€œIt doesnâ€™t move Florida (schools) out from the bottom when compared to other states,â€ said Mark Pudlow, spokesman for the Florida Education Association, the stateâ€™s teachers union.  Floridaâ€™s public school per-pupil spending sank from a peak of $7,126 in the 2007-2008 budget to a post-recession low of $6,217 for the 2011-2012 year.  In his latest proposal, Scott recommended increasing funding to $7,176 per student, a $50 rise above record-high per-student funding. Florida has more than 2.7 million students enrolled in its public K-12 schools. Pudlow said he welcomed the governorâ€™s increases, but support for Florida education was still lagging far behind most of the United States. The nationwide per-student spending average was $11,392 in 2015, according to the most recent U.S. Census Bureau data available. Adjusted for inflation, Pudlow pointed out, Scottâ€™s budget puts Floridaâ€™s per-student spending at about $1,200 less than it was at its peak. Scott proposed increasing public elementary and secondary school spending to about $14.71 billion from some $14.45 billion in the current fiscal year.  Andrea Messina, executive director of the Florida School Boards Association, said she was hopeful Scottâ€™s proposal signaled a an attitude shift in the state capital toward public education financing, but the bill was far from final. The Florida House of Representatives and Senate will hear the governorâ€™s budget recommendations at the next legislative session starting on Jan. 9. They then make their own budget proposals and negotiate until a single plan is agreed on.  That budget will go back to the governor, who has the authority to veto line items before signing off on the bill. Scott has also proposed $180 million in cuts to taxes and fees and asked for sharp increases in spending on departments, including corrections, which would see more than 500 added jobs under the plan.  The budget for environmental protection would surge to more than $1.7 billion from $1.48 billion in the current year, making it among the budgetâ€™s biggest gainers. Florida Everglades restoration would be among the environmental projects to receive an infusion of funds. â€œThatâ€™s one place where weâ€™re happy, although the devil is in the details,â€ said Frank Jackalone, director of Sierra Club Florida. Jackalone said he was concerned the state would continue to cut environmental rules enforcement and to take from earmarked funds intended for the environment to spend on other government programs. State Representative Carlos Smith, a Democrat who represents a central Florida district seeing an influx of residents fleeing from hurricane-battered areas, including Puerto Rico, said he opposed Scottâ€™s budget proposal on affordable housing. Under the plan, overall spending on affordable housing would rise, Smith said, but it would also include a raid of nearly $92 million on trust funds earmarked for affordable homes. â€œWe donâ€™t know what to do, people are sleeping in cars,â€ Smith said of storm evacuees, namely Puerto Ricans fleeing the bankrupt and hurricane-battered U.S. commonwealth.
Not A Fake News